.priority-column {
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 15px;
}

.low-priority {
  background-color: #ff00ff;
}

.medium-priority {
  background-color: #ffff00;

}

.high-priority {
  background-color: rgb(226, 98, 12);
}

.in-progress {
  background-color: #ffa500;
}

.completed {
  background-color: #0ab40a;
}


.status-column {
  font-weight: bold;
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
}



body .table {
background-color: #0b0736; 
color: white;
font-weight: bold;
}

table.table.table-bordered.custom-table {
border-radius: 5px;
overflow: hidden;
}

.task-list-container {
display: flex;
justify-content: center;
align-items: center;
}

.task-list-data-table  .task-list {
width: 100%;
}

.table-header-data th{
background-color: #0b0736;
color: white;
}